
  <div id=" n1" class="aa-footer-bottom" >

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div id="n2" class="aa-footer-bottom-area">


                    <table id= "t1">
                        <tr>
                            <td style="margin-left:0px; float:left">
                                
                                    <ul class="list-unstyled list-inline mb-0">
                                        <li style="color:white"> Designed by <a href="http://www.facebook.com/">
                                            <b style="color:inherit">Peter Agyekum Essien:
                                         Copyright
                                        </b></a> <b style="color:inherit"> ©2020</b>
                                         <b style="color:#585858;">
                                    
                                   

                                            <!-- BEGIN: Powered by Supercounters.com -->
                                           
                                                <script type="text/javascript" src="//widget.supercounters.com/ssl/online_t.js"></script>
                                                <script type="text/javascript">sc_online_t(1601083, "585858", "585858");</script><noscript>
                                                    <a href="https://www.supercounters.com/">supercounters.com</a></noscript>
                                          
                                            <!-- END: Powered by Supercounters.com -->
        
                                         </b>
        
                                      
                                        </li>
                                    </ul>





                                


                            </td>


                            <td style="float:none">
                               
                                    <div class="list-unstyled list-inline mb-0">
                                        <a href="https://facebook.com/sharer.php?u=http://arunendapally.com/post/protect-your-source-code-from-decompiling-or-reverse-engineering"><span class="fa fa-facebook" style="margin-right:10px"></span></a>
                                        <a href="#"><span class="fa fa-twitter"style="margin-right:10px"></span></a>
                                        <a href="https://www.linkedin.com/shareArticle?mini=true&amp;url=http://arunendapally.com/post/protect-your-source-code-from-decompiling-or-reverse-engineering&amp;title=Protect your source code from decompiling or reverse engineering">
                                            <span class="fa fa-google-plus"style="margin-right:10px"></span></a>
                                        <a href="#"><span class="fa fa-youtube"style="margin-right:10px"></span></a>
                                        <a href="#"><span class="fa fa-linkedin"style="margin-right:10px"></span></a>
                                        <a href="https://plus.google.com/share?url=http://arunendapally.com/post/protect-your-source-code-from-decompiling-or-reverse-engineering"><span class="fa fa-plus.google"></span></a>

                                    </div>
                             
                            </td>

                            <td style="float:none">
                               
                                    <div class="list-unstyled list-inline mb-0">
                                        <a href="#"><span class="fa fa-cc-mastercard"style="margin-right:10px"></span></a>
                                        <a href="#"><span class="fa fa-cc-visa"style="margin-right:10px"></span></a>
                                        <a href="#"><span class="fa fa-paypal"style="margin-right:10px"></span></a>
                                        <a href="#"><span class="fa fa-cc-discover"></span></a>
                                    </div>
                              

                            </td>


                            <td style="margin-right:20px; float:right">
                               
                                    <div class="list-unstyled list-inline mb-0">
                                        <a href="" routerLink='/adminpanel'   style="color:white"><span class="fa fa-cc-pricaycu"><i class="fa fa-user"></i>ADMIN</span></a>
                                    </div>
                                
                                 

                            </td>
                            <td style="margin-right:20px; float:right">
                              
                                    <div class="list-unstyled list-inline mb-0">





                                        <a href="">
                                            <span class="fa fa-cc-pricaycu">POLICY</span>
                                        </a>
                                    </div>

                              

                            </td>
                            <td style="margin-right:20px; float:right">
                               
                                    <div class="list-unstyled list-inline mb-0">





                                        <a href="">
                                            <span class="fa fa-cc-pricaycu">PRIVACY</span>
                                        </a>
                                    </div>

                              

                            </td>
                        </tr>
                    </table>

                </div>
            </div>
        </div>
    
</div>
