.nav2{
    border: 0 solid #e1e1e1;
    border-bottom-width: 1px;
    height: 35px;
    text-align: center;
    padding: 0 0px;
    width:100%;
    display: flex;
    flex-flow: row;
    align-items: right;
    float: right;
  }

:bg-top{
  background-color: #585858;
}



/* enable absolute positioning */



.inner-addon { 
    position: relative; 
    border-radius: none;
  }
  
  /*Search style icon */
  .inner-addon .glyphicon {
  position: absolute;
  padding: 10px;  /*move search button up and down */
  pointer-events: initial;
  color:black;
  margin-right: 15px; /*move search button left and right */
  }
  
  /* align icon */
  .left-addon .glyphicon  { left:  0px;}
  .right-addon .glyphicon { right: 0px;}
  
  /* add padding  */
  .left-addon input  { padding-left:  30px; }
  .right-addon input { padding-right: 30px; }
  
  .inner-addon .form-control{
    border-radius: none;
  }

  #n1 {
    background-color: #585858; height: 50px;
  }

  #n2 {
    margin-left: 40px; float: right;
  }

  #n3 {
    font-family: arial
  }

  .p-2 {
    margin-right: 35px;
  }

  .ngbdrop {
    margin-right: 35px;

  }

  .dd1 {
    height: 300px; width: 100px;
          padding-right: 100px;
          margin-right: 100px;
  }

  .dropdown-toggle, .dropdown-item{
    cursor: pointer;
  }



img {
    max-height: 50px;
    border: 2px solid #fff;
    display: inline;
}