<nav id="n1" class="navbar navbar-expand-lg bg-top">
  <!-- <h5<a class="navbar-brand" routerLink='/productdisplay'>-->
  <h5 class="my-0 mr-md-auto font-weight-normal">
    <a class="navbar-brand" routerLink="">
      <b class="logo">
        
      </b>
    </a>
  </h5>

  <!-- <div  class="inner-addon right-addon col-md-6 bg-dark pull-left ">
   
Theme blue-light is defined is css 

    <input type="text" class="form-control bg-dark"    placeholder="Search" />
  </div>-->

  <!-- <form class="form-inline my-2 my-lg-0  badge-light" style="padding-left: 20px; background-color: floralwhite; border-radius: 8px; height:40px">
      <input class="form-control my-2 my-sm-0" style="width: 300px;  border: #f1f1f1; background-color: floralwhite;"  type="search" placeholder="Search for News, product, brand and more..." aria-label="Search">
      <button class="btn btn-outline-white my-2 my-sm-0 fa  fa-search" type="submit">
      </button>

    </form>-->

  <nav class="my-2 my-md-0 mr-md-3">
    <a class="p-2 text-white" routerLink="/StoreProducts">Product </a>

    <a class="p-2 text-white" routerLink="/paymentdetails">payment details </a>
    <a class="p-2 text-white" routerLink="/angulardetails">Angular detail </a>
    <a class="p-2 text-white" routerLink="/csharpdetails">csharp details </a>
    <a class="p-2 text-white" routerLink="/netcoredetails">netcore details </a>
    <a class="p-2 text-white" href="#">Enterprise</a>
    <a class="p-2 text-white" href="#">Support</a>
    <a class="p-2 text-white" href="#">Pricing</a>
    <a class="p-2 text-white" href="#">Contact</a>
    <a class="p-2 text-white" href="#">About Us</a>
  </nav>

  <span id="n2" class="nav-item" routerLinkActive="active">
    <span
      class="btn-group"
      ngbDropdown
      role="group"
      aria-label="Button group with nested dropdown"
    >
      <button
        class="btn btn-outline-primary dropdown-toggle-split"
        ngbDropdownToggle
      >
        <a id=" n3" class="text-white">
          <img
            alt="drawing of a cat"
            
          />Support</a
        >
      </button>
    </span>
  </span>
</nav>
