:nav {
  border: 0 solid #e1e1e1;
  border-bottom-width: 1px;
  height: 35px;
  text-align: left;
  padding: 0 0px;
  width: 100%;
  display: flex;
  flex-flow: row;
  align-items: center;
}

:nav2 {
  border: 0 solid #e1e1e1;
  border-bottom-width: 1px;
  height: 35px;
  text-align: center;
  padding: 0 0px;
  width: 100%;
  display: flex;
  flex-flow: row;
  align-items: right;
  float: right;
}

:nav3 {
  float: right;
}

a {
  color: #ffffff;
  font-size: 16px;
  font-weight: 900;
  line-height: 35px;

  text-decoration: none;
}

div.form-group.required > label:first-child:after {
  content: "*";
  color: #dc3545;
}

/* enable absolute positioning */
.inner-addon {
  position: relative;
  border-radius: none;
}

/*Search style icon */
.inner-addon .glyphicon {
  position: absolute;
  padding: 10px; /*move search button up and down */
  pointer-events: initial;
  color: black;
  margin-right: 15px; /*move search button left and right */
}

/* align icon */
.left-addon .glyphicon {
  left: 0px;
}
.right-addon .glyphicon {
  right: 0px;
}

/* add padding  */
.left-addon input {
  padding-left: 30px;
}
.right-addon input {
  padding-right: 30px;
}

.inner-addon .form-control {
  border-radius: none;
}

/*Register*/

#gender {
  color: #fff;
  font-size: 14px;
}

.loading {
  margin: 20% 0 0 50%;
}

.errorMessage {
  color: #f000;
}

legend {
  color: 000;
  font-size: 14px;
  width: auto;
}

fieldset {
  display: block;
  margin-left: 2px;
  margin-right: 2px;
  padding-top: 0.35em;
  padding-bottom: 0.625em;
  padding-left: 0.75em;
  padding-right: 0.75em;
  border: 2px groove;
}

.container {
  height: 100%;
  align-content: center;
}

.card {
  height: auto;
  margin-top: auto;
  margin-bottom: auto;
  width: 800px;
  color: #000;
  background-color: #fff !important;
}

.social_icon span {
  font-size: 60px;
  margin-left: 10px;
  color: #ffc312;
}

.social_icon span:hover {
  color: white;
  cursor: pointer;
}

.card-header h3 {
  color: white;
}

.social_icon {
  position: absolute;
  right: 20px;
  top: -45px;
}

.input-group-prepend span {
  width: 50px;
  background-color: #ffc312;
  color: black;
  border: 0 !important;
}

input:focus {
  outline: 0 0 0 0 !important;
  box-shadow: 0 0 0 0 !important;
}

.remember {
  color: black;
}

.remember input {
  width: 20px;
  height: 20px;
  margin-left: 15px;
  margin-right: 5px;
}

.login_btn {
  color: black;
  background-color: #ffc312;
  width: 100px;
}

.login_btn:hover {
  color: black;
  background-color: yellow;
}

.Forgot {
  color: rgb(34, 33, 33);
}

.links {
  color: 000;
}

.links a {
  margin-left: 4px;
}

/*Login*/
.errorMessage {
  color: #000;
}

.container {
  height: 100%;
  align-content: center;
}

.card {
  height: 370px;
  margin-top: auto;
  margin-bottom: auto;
  width: 400px;
  background-color: rgba(0, 0, 0, 0.8) !important;
}

.social_icon span {
  font-size: 60px;
  margin-left: 10px;
  color: #ffc312;
}

.social_icon span:hover {
  color: white;
  cursor: pointer;
}

.card-header h3 {
  color: #000;
}

.social_icon {
  position: absolute;
  right: 20px;
  top: -45px;
}

.input-group-prepend span {
  width: 50px;
  background-color: #ffc312;
  color: black;
  border: 0 !important;
}

input:focus {
  outline: 0 0 0 0 !important;
  box-shadow: 0 0 0 0 !important;
}

.remember {
  color: black;
}

.remember input {
  width: 20px;
  height: 20px;
  margin-left: 15px;
  margin-right: 5px;
}

.login_btn {
  color: black;
  background-color: #ffc312;
  width: 100px;
}

.login_btn:hover {
  color: black;
  background-color: white;
}

.links {
  color: black;
}

.links a {
  margin-left: 4px;
}

.navbarResponsive {
  color: black;
}
 .navlog li a{
  color: black; 
 } 

 .n1 {
  margin-left: 27px;
 }

 .n2 {
  margin-left: 40px; float: right;
  font-family: arial;

 }

 .n3 {
  margin-left: 10px; float: right;
  border-radius: 100%; margin-left: -5px;
 }

 .n4 {
  height: 300px;
  width: 100px;
  padding-right: 100px;
  margin-right: 100px;

 }